
<%= form_tag("/recipes/search", method: "get") do %>
    <%= label_tag(:q, "Search for a recipe")%>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search")%>
<% end %>

<br>

<%= link_to "Make a New Recipe", new_recipe_path %>

<br>

<%= link_to "Sort Recipes by Number of Ingredients", sort_recipes_path %>

<h3>All Recipes</h3>
<% @recipes.each do |recipe| %>
    <b><%= recipe.name %></b> <br>
    Ingredients: <%= recipe.ingredients.count %><br><br>
<% end %>